@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #121212; /* Fondo oscuro */
    color: #ffffff;
    padding: 1rem;
}

header {
    background-image: url("/static/images/foco1.jpeg"); /* Inserta tu imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 1.8rem;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Contenedor principal */
.container {
  margin-top: 2rem;
}

.container h1 {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.card {
  background-color: #1e1e1e;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.card h2 {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

table {
  width: 100%; /* Ajusta el ancho de la tabla al 100% del contenedor */
  border-collapse: collapse; /* Colapsa los bordes de la tabla */
  border: 2px solid white;
}

th {
  background-color: red; /* Color de fondo para los encabezados */
  color: white; /* Color del texto para los encabezados */
  padding: 10px; /* Espaciado interno para las celdas de encabezado */
  text-align: center; /* Alineación del texto a la izquierda */
  border: 1px solid white;
}

td {
  background-color: black; /* Color de fondo para las celdas de contenido */
  color: white; /* Color del texto para las celdas de contenido */
  padding: 10px; /* Espaciado interno para las celdas de contenido */
  border: 1px solid white;
}
td:nth-child(2) {
  text-align: center; /* Centra el texto en la segunda columna */
}
/* Media queries para pantallas más grandes */
@media (min-width: 768px) {
  body {
      padding: 2rem;
  }

  header {
      height: 200px;
  }

  header h1 {
      font-size: 2.2rem;
  }

  .container h1 {
      font-size: 2rem;
  }

  .card h2 {
      font-size: 1.8rem;
  }
}