{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votación FOCO</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/authUser.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<body>

    <header class="">
        <h1 class="flex-title">
            <span>Autenticación</span>
            <span>de</span>
            <span>Usuarios</span>
        </h1>
        <a href="/" class="boton-volver">
            <i class="fas fa-home"></i>
        </a>
    </header>

    <div class="container">
        <div class="card">
            <div class="pases">
            <div class="boton-container">
                
                <form id="userForm">
                    {% csrf_token %}
                    <label for="codigo_usuario">Código de Usuario:</label>
                    <input type="text" id="codigo_usuario" name="codigo_usuario" required>
                    <button type="submit">Verificar</button>
                    <div id="result" style="color: red;"></div>
                </form>
            
                <!-- Solo muestra el mensaje de error si existe, es decir, después de la verificación fallida -->
                

            </div>
        </div>
        </div>
    </div>
    <footer class="footer">
        <a href="https://festivalfoco.com/" target="_blank" class="icono-web">
            <i class="fas fa-globe"></i> <!-- Icono de la web -->
        </a>
        <a href="https://www.instagram.com/foco_festival/" target="_blank" class="icono-instagram">
            <i class="fab fa-instagram"></i> <!-- Icono de Instagram -->
        </a>
    </footer>

    <script>
        const nombrePase = '{{ nombre_pase }}';
        document.getElementById('userForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevenir el envío del formulario
            const codigo_usuario = document.getElementById('codigo_usuario').value;

            

            const url = `/votacion/check_user/${nombrePase}/`;

            console.log(url)

            fetch(url, { // Asegúrate de que la URL sea correcta
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': '{{ csrf_token }}' // Agrega el token CSRF
                },
                body: new URLSearchParams({ 'codigo_usuario': codigo_usuario })
            })
            .then(response => response.json())
            .then(data => {
                if (data.exists) {
                    // Redirigir a otra ventana
                    console.log(data); // Cambia esta ruta a la que desees
                    const url = `/votacion/votacion/${nombrePase}/${codigo_usuario}/`;
                    window.location.href =url;
                } else {
                    const resultDiv = document.getElementById('result');
                    resultDiv.textContent = 'El usuario no existe.';
                }
            });
        });
    </script>

</body>
</html>
