{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votación Foco</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/graphicsResults.css' %}">
</head>
<body>

    <header class="bg-primary text-white text-center py-3">
        <h1>Resultados</h1>
    </header>

    <div class="container">
        <h1 class="text-center">Cortos ganadores</h1>

        <div class="card">
            <div class="pases">
            <div class="boton-container">
                
                <canvas id="graficoCortos"></canvas>
    <script>
        const ctx = document.getElementById('graficoCortos').getContext('2d');
        const cortos = {{corto|safe }};
        
        // Extraer los nombres de los cortos y los votos
        const labels = cortos.map(corto => corto.nombre);
        const datos = cortos.map(corto => corto.total_votos);

        // Crear el gráfico de barras
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Número de Votos',
                    data: datos,
                    backgroundColor: 'rgba(220, 73, 58, 0.7)',
                    borderColor: 'rgba(220, 73, 58, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Número de Votos'
                        }
                    },
                    x: {
                        title: {
                            display: true,
                            // text: 'Cortos'
                        }
                    }
                }
            }
        });
    </script>
            </div>
        </div>
        </div>
    </div>

</body>
</html>