{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votación Foco</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/graphicsResults.css' %}">
</head>
<body>

    <header>
        <h1>Cortos ganadores</h1>
    </header>

    <div class="container">
        {% csrf_token %}
        <div class="card">
            <div class="pases">
                <div class="boton-container">
                    <!-- Tabla de Resultados -->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Título del Corto</th>
                                <th>Total de Votos</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if cortos %}
                                {% for corto in cortos %}
                                <tr>
                                    <td>{{ corto.nombre }}</td>
                                    <td>{{ corto.total_votos }}</td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="2">No hay cortos disponibles.</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>