{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votación Foco</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/pase.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="shortcut icon" href="/static/images/logo-foco-blanco.png" type="image/x-icon" />
</head>
<body>

    <header class="bg-primary text-white text-center py-3">
        <h1>Bienvenido a FOCO</h1>
    </header>

    <div class="container">
        <h1 class="text-center">Pases</h1>

        <div class="card">
            <div class="pases">
            <div class="boton-container">
                
                <!-- Iteración de pases -->
                {% for pase in pases %}
                    <!-- Botón de pase con estilos personalizados -->
                    <button 
                        type="button" 
                        class="boton-pase"
                        onclick="window.location.href='{% url 'usuario' pase.pase %}'"
                        {% if not pase.activa %}disabled{% endif %}>
                        {{ pase.pase }}
                    </button>
                {% endfor %}
            </div>
        </div>
        </div>
    </div>
    <footer class="footer">
        <a href="https://festivalfoco.com/" target="_blank" class="icono-web">
            <i class="fas fa-globe"></i> <!-- Icono de la web -->
        </a>
        <a href="https://www.instagram.com/foco_festival/" target="_blank" class="icono-instagram">
            <i class="fab fa-instagram"></i> <!-- Icono de Instagram -->
        </a>
    </footer>

</body>
</html>
